.user-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  z-index: 1;
  background-color: white;
}
.user-nav-reels {
  background-color: black;
}
.user-nav-reels .user-nav__icons {
  color: white;
}
.user-nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 90px;
  box-sizing: border-box;
  opacity: 0.5;
}
.user-nav__icons-icon:first-child {
  margin-right: auto;
}
.user-nav__icons-icon:last-child {
  margin-left: auto;
}
