.status-bar {
  display: flex;
  padding: 5px 20px;
  color: var(--main-color);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  font-size: 30px;
}
.status-bar__time {
  margin-right: auto;
  padding-left: 20px;
}
.status-bar__icons {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
.status-bar__icon {
  margin-right: 5px;
}
